.div-header {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #3C1053, 0%, #5A287D 80%);
  padding: 2rem 3rem;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.logohead {
  width: 125px;
  background-color: #3C1053;
  border-radius: 15px;
}

.header-slogans {
  text-align: left;
}